<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chat Node Socket.io</h1>
    <div id="chat"></div>
    <br>
    <input type="text" id="msg">
    <br>
    <input type="text" id="user_name" placeholder="Nome de Usuário">
    <br>
    <button onclick="enviar()">Enviar</button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    let socket = io("http://localhost:3000");
    socket.on("disconnect", () => {
        console.log("Desconectado!");
    });
    function enviar() {
        let msgField = document.getElementById("msg");
        let userNameField = document.getElementById("user_name");

        let msg = msgField.value;
        let user_name = userNameField.value;

        socket.emit("msg", { msg: msg, user_name: user_name });
    }
</script>
</html>