<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
    <style>
        #chat {
            max-height: 500px;
            min-height: 500px;
            background-color: gainsboro;
            overflow-y: scroll;
            border-radius: 3px;
            padding: 10px;
        }
        .title {
            margin-top: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="title">Chat Node.js Socket.io</h1>
        <div id="chat" class="mt-3"></div>
        <input type="text" id="msg" class="form-control mt-3" placeholder="Mensagem...">
        <input type="text" id="user_name" class="form-control mt-3" placeholder="Nome de Usuário">
        <button onclick="enviar()" class="btn btn-primary mt-3">Enviar</button>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js"></script>
<script>
    let socket = io("http://localhost:3000");
    socket.on("disconnect", () => {
        console.log("Desconectado!");
    });

    socket.on("show_msg", data => {
        console.log(data);
        let chat = document.getElementById("chat");
        let p = document.createElement("p");
        p.innerHTML = `<b>${data.user_name}</b>: <i>${data.msg}</i>`;
        chat.append(p);
    })
    function enviar() {
        let msgField = document.getElementById("msg");
        let userNameField = document.getElementById("user_name");

        let msg = msgField.value;
        let user_name = userNameField.value;

        socket.emit("msg", { msg: msg, user_name: user_name });
    }
</script>
</html>